---
import HalfLayout from "../layouts/HalfLayout.astro";
---

<HalfLayout title="About">
  <div class="flex h-full flex-col justify-center pl-4">
    <h1 class="text-xl font-semibold tracking-tight">About</h1>
    <p class="text-lg">Coming soon...</p>
  </div>
</HalfLayout>
