---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body
    class="grid min-h-screen grid-cols-3 bg-gradient-to-b from-fuchsia-950 to-gray-900"
  >
    <div
      class="flex h-full flex-col justify-center bg-gradient-to-b from-fuchsia-950 to-gray-900"
    >
      <h1
        class="pr-4 text-right text-5xl font-semibold tracking-tight text-white"
      >
        <a href="/">
          Nicholas<br />Deschenes
        </a>
      </h1>
    </div>
    <div class="col-span-2 h-screen overflow-x-hidden overflow-y-scroll">
      <slot />
    </div>
  </body>
</html>
